/* Základní nastavení */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barrio-regular {
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
}

.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

.atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}

.atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
}

.atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
}

.atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
}




body {
    font-family: 'Atma', cursive, sans-serif;
    line-height: 1.6;
    background-color: #D0F4FF;
    color: #2D3142;
    padding: 20px;
    overflow-x: hidden;
}

/* Hlavička */
header .header-nadpis {
    position: relative;
    background: url('images/489403838_1221660406629871_6943691730760151120_n.jpg') center/cover no-repeat;
    color: #fff;
    color: #fff;
    text-align: center;
    font-family: barrio;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header .header-nadpis::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 57, 71, 0.45);
    z-index: 0;
}

.header-nadpis h1, .header-nadpis p {
    position: relative;
    z-index: 1;
}

header h1 {
    font-size: 65px;
    margin-bottom: 10px;
}

header p {
    font-size: 25px;
}

.header-nadpis .btn-link{
    width: fit-content;
    padding: 8px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 15px;
    font-family: Atma;
    font-size: 17px;
    font-weight: 500;
    cursor:pointer;
    background-color: #f0fa3ce0;
    color: #2D3142;
    transition: background 0.3s ease;
    z-index: 2;
    text-decoration: none;
    border-style: solid;
    border-width: 0.3px;
}

.header-nadpis .btn-link:hover {
    background-color:#FFB703;
  }

#nav-trigger {
    height: 1px;
    /* malý neviditelný prvek nad navigací */
}


/* Navigace */
nav {
    margin-top: 20px;
    background-color: #38B6FF;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
    position: relative;
    z-index: 1000;

    /* FLEXBOX NASTAVENÍ */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    /* prostor vlevo/vpravo */
}

/* Levý nadpis */
.cestovadelko-nav {
    font-size: 24px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    white-space: nowrap;
    font-family: barrio;
    width: 0;
}

.cestovadelko-nav a {
    text-decoration: none;
    color: white;
}

/* Aktivace nadpisu při sticky */
nav.sticky .cestovadelko-nav {
    opacity: 1;
    visibility: visible;
    width: auto;
}

/* Navigace uprostřed */
nav ul {
    display: flex;
    justify-content: center;
    flex: 1;
    /* zabere celý středový prostor */
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}

nav ul li {
    padding: 15px 26px;
}

/* Položky v navigaci */
nav ul li a {
    position: relative;
    display: block;
    padding: 0 2px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    overflow: hidden;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 25%, transparent 25%, transparent 50%, #FFDA2A 50%, #FFDA2A 75%, transparent 75%, transparent 100%);
    background-size: 16px 4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

/* Hover efekt: rozbalení vlnky */
nav ul li a:hover::after {
    transform: scaleX(1);
}


/* Sticky efekty */
nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav.sticky ul li {
    padding: 18px 30px;
    font-size: 19px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

/* Hlavní obsah */
main {
    padding: 50px 0;
    background: #F1FA3C;
    background: url(images/pozadi2.jpg) center/cover no-repeat;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box {
    padding: 20px;
    margin-bottom: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;

}

.box h2 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.uvod {
    text-align: center;

}

.vitejte p {
    font-size: 22px;
    margin-bottom: 20px;
}


.vlacek img {
    width: 180px;
    height: auto;
    transition: transform 0.6s ease;
    margin-bottom: 25px;
}

.vlacek img:hover {
    transform: rotate(360deg);
}

.popis-uvod {
    font-size: 21px;
}

.program ul {
    margin-top: 10px;
    padding-left: 20px;
}

.nabidka {
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
    /* pokud by se nevešly na menší obrazovky */
    text-align: center;
}

.nabidka-obrazek {
    overflow: hidden;
    border-radius: 10px;
    /* volitelné pro zaoblení */
    height: 250px;
    width: 250px;
    margin-bottom: 12px;
}

.nabidka-obrazek:hover img {
    transform: scale(1.1);
}

.nabidka img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* volitelné, pokud chceš oblé rohy */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* volitelné, pokud chceš lehký stín */
    transition: transform 0.4s ease;
    /* plynulý efekt */
}

.nabidka p {
    max-width: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* omezí na 4 řádky */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* Maskování pro fade efekt */
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            /* plná viditelnost nahoře */
            rgba(0, 0, 0, 1) 50%,
            /* ještě viditelné do poloviny */
            rgba(0, 0, 0, 0.6) 75%,
            /* jemně průhledné ve 3. řádku */
            rgba(0, 0, 0, 0) 100%);
    /* úplně průhledné dole */

    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0.6) 75%,
            rgba(0, 0, 0, 0) 100%);
}

.nabidka a {
    text-decoration: none;
    color: #2D3142;
    transition: color 0.4s ease;
}

.nabidka a:hover {
    color: #38B6FF;
}

.odkaz-predstaveni {
    text-align: center;
    margin: auto;
    padding: 10px 18px;
    width: fit-content;
    border-radius: 10px;
    background-color: #38B6FF;
    transition: background 0.4s ease;
}

.odkaz-predstaveni a {
    color: #D0F4FF;
    text-decoration: none;
}

.odkaz-predstaveni:hover {
    background-color: #1d8bca;
}

.ucinkujici img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.ucinkujici {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.herci {
    display: flex;
    text-align: center;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
}

/* Paticka */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
}

/* Sekce Představení  */

header .header-nadpis.head-predstaveni {
    height: 24vh;
}

.uvadi h2 {
    font-size: 30px;
}

.uvadi p {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 15px;
}

.predstaveni {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.predstaveni h3 {
    font-size: 25px;
    margin-bottom: 8px;
}

.predstaveni .one p {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: justify;
    z-index: 2;
    position: relative;
}

.predstaveni .one {
    margin-bottom: 30px;
}

.one {
    border: 2px dashed #2D3142;
    position: relative;
    padding: 30px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 15px;
    max-width: 800px;
    box-shadow: 7px 7px 0px #FFB703;
    transition: background 0.5s ease;
}

.one:hover {
    background-color: rgba(255, 255, 255, 0.216);
}

.foto-predstaveni {
    display: flex;
    gap: 2%;
    width: 98%;
    align-items: stretch;
}

.one img.zeme {
    position: absolute;
    width: 100px;
    right: -20%;
    top: 5%;
    z-index: 1;
}

.one img.earth {
    position: absolute;
    width: 150px;
    top: 35%;
    left: -25%;
    z-index: 1;
}

.one img.sorting {
    position: absolute;
    width: 150px;
    right: -25%;
    bottom: 10%;
    z-index: 1;
    transform: rotate(5deg);
}

.one img.boy {
    position: absolute;
    height: 150px;
    left: -18%;
    top: 10%;
    z-index: 1;
    transform: rotate(-10deg);
}

.one img.girl {
    position: absolute;
    height: 150px;
    right: -18%;
    top: 20%;
    z-index: 1;
    transform: rotate(10deg);
}

.one img.heart {
    position: absolute;
    width: 150px;
    left: -20%;
    bottom: 15%;
    z-index: 1;
}

.one img.snowman {
    position: absolute;
    width: 150px;
    right: -22%;
    top: 10%;
    z-index: 1;
    transform: rotate(5deg);
}

.one img.snowflake {
    position: absolute;
    width: 150px;
    left: -25%;
    bottom: 10%;
    z-index: 1;
}

.one .foto-predstaveni img,
.one .foto-predstaveni video,
.one .foto-predstaveni iframe {
    width: 32%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.one .foto-predstaveni img:hover,
.one .foto-predstaveni video:hover,
.one .foto-predstaveni iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}


iframe {
    margin: 0;
}

/* Sekce Ukázky  */

.ukazky h2, .spotify h2 {
    text-align: center;
}

.vidfot {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ukazky video, .ukazky img {
    width: 32%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.spotify iframe {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

/* Kontakt */

.kontakt {
    background-color: #fff8d68b;
    border-radius: 25px;
    padding: 30px;
    max-width: 700px;
    margin: 40px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kontakt h2 {
    margin-bottom: 20px;
    color: #E63946;
}

.kontakt-info p {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.kontakt-info i {
    margin-right: 8px;
    color: #E63946;
}

.kontakt-info a {
    text-decoration: none;
    color: #2D3142;
    transition: color 0.3s ease;
}

.kontakt-info a:hover {
    color: #E63946;
}

.kontakt iframe{
    width: 80%;
    height: 500px;
    border-radius: 15px;
    opacity: 0.8;
}

.objedavani p {
    text-decoration: underline;
    margin-top: 25px;
}

.socialni {
    margin-top: 25px;
}

.socialni strong {
    font-weight: 600;
}


.deco-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    overflow: hidden;
}

.deco-line img {
    transition: transform 0.3s ease;
    opacity: 0.7;
}